body{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  color:black;

}
.message_center{
  position: relative;
}

.grid{
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
    height: 500px;
    top:70px;
    width: 50%;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    position: absolute;
}

.message_body{
    font-size: 30px;;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
